In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt

# TransPop

In [3]:
transpop = pd.read_csv('data/transpop.csv')
transpop

,Unnamed: 0,STUDYID,WEIGHT,SURVEYCOMPLETED,GRESPONDENT_DATE,GCENREG,AGE,RACE,RACE_RECODE,RACE_RECODE_CAT5,...,ACE_SEP,ACE_INC,ACE_EMO_I,ACE_PHY_I,ACE_SEX_I,ACE_IPV_I,ACE_SUB_I,ACE_MEN_I,ACE_SEP_I,ACE_INC_I
0,0,151768927,0.986143,0,26-APR-2016,1,65,6,1,1,...,0,0,1,0,0,0,0,0,0,0
1,1,152357242,0.379683,0,07-APR-2016,3,38,6,1,1,...,0,0,0,0,0,0,0,1,0,0
2,2,152444055,0.705381,0,01-MAY-2016,3,25,6,1,1,...,0,0,0,0,0,0,0,1,0,0
3,3,152525272,1.595398,0,20-APR-2016,4,18,6,1,1,...,1,1,1,0,0,1,1,1,1,1
4,4,152894493,1.870422,0,05-MAY-2016,2,30,8,3,3,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,269,194845794,0.236381,1,03-JAN-2019,4,53,1,4,5,...,0,0,0,0,0,0,1,0,0,0
270,270,194850497,0.236381,1,19-NOV-2018,4,71,6,1,1,...,0,0,0,0,1,0,1,1,0,0
271,271,194873629,0.236381,1,13-NOV-2018,1,72,6,1,1,...,0,0,1,1,0,0,0,0,0,0
272,272,195236979,2.814055,1,18-NOV-2018,1,20,6,1,1,...,0,0,1,0,1,0,0,1,0,0
273,273,196860170,2.354026,1,30-NOV-2018,2,34,6,1,1,...,1,0,1,0,0,0,0,0,1,0

In [4]:
transpop.columns

Index(['Unnamed: 0', 'STUDYID', 'WEIGHT', 'SURVEYCOMPLETED',
       'GRESPONDENT_DATE', 'GCENREG', 'AGE', 'RACE', 'RACE_RECODE',
       'RACE_RECODE_CAT5',
       ...
       'ACE_SEP', 'ACE_INC', 'ACE_EMO_I', 'ACE_PHY_I', 'ACE_SEX_I',
       'ACE_IPV_I', 'ACE_SUB_I', 'ACE_MEN_I', 'ACE_SEP_I', 'ACE_INC_I'],
      dtype='object', length=567)

In [5]:
transpop.describe()

,Unnamed: 0,STUDYID,WEIGHT,SURVEYCOMPLETED,AGE,RACE,RACE_RECODE,RACE_RECODE_CAT5,SEX,GENDER,...,NEGEXPFUTURE_I,ACE_I,ACE_EMO_I,ACE_PHY_I,ACE_SEX_I,ACE_IPV_I,ACE_SUB_I,ACE_MEN_I,ACE_SEP_I,ACE_INC_I
count,274.000000,2.740000e+02,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000
mean,136.500000,1.718596e+08,1.000000,0.813869,39.361314,5.762774,1.937956,1.762774,1.525547,3.299270,...,3.176805,3.208029,0.704380,0.430657,0.401460,0.288321,0.394161,0.496350,0.357664,0.135036
std,79.241193,1.057721e+07,0.864983,0.389925,16.889344,1.689854,1.672822,1.266040,0.500261,1.436647,...,0.915362,2.094072,0.457156,0.496074,0.491091,0.453810,0.489564,0.500902,0.480190,0.342388
min,0.000000,1.517689e+08,0.236381,0.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,68.250000,1.681479e+08,0.317048,1.000000,24.000000,6.000000,1.000000,1.000000,1.000000,2.000000,...,2.666667,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.500000,1.726608e+08,0.645186,1.000000,34.000000,6.000000,1.000000,1.000000,2.000000,4.000000,...,3.222222,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,204.750000,1.765349e+08,1.373568,1.000000,54.000000,6.000000,2.000000,2.000000,2.000000,5.000000,...,3.861111,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,273.000000,1.968602e+08,2.814055,1.000000,72.000000,9.000000,7.000000,5.000000,2.000000,5.000000,...,5.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
cisgender = pd.read_csv('data/cisgender.csv')
cisgender

,Unnamed: 0,STUDYID,WEIGHT,GMETHOD_TYPE,GRESPONDENT_DATE,GCENREG,AGE,RACE,RACE_RECODE,RACE_RECODE_CAT5,...,ACE_SUB,ACE_SUB_I,ACE_MEN,ACE_MEN_I,ACE_SEP,ACE_SEP_I,ACE_INC,ACE_INC_I,LIFESAT,LIFESAT_I
0,0,196226208,0.255088,SCAN,28-DEC-2018,2,68,6,1,1,...,1,1,0,0,0,0,0,0,4.1999998092651,4.2
1,1,175270682,0.723258,SCAN,20-MAR-2018,2,67,6,1,1,...,1,1,0,0,1,1,0,0,2,2.0
2,2,175300494,2.187140,WEB,22-FEB-2018,2,47,6,1,1,...,1,1,1,1,1,1,0,0,6.5999999046326,6.6
3,3,196175230,0.877834,WEB,29-NOV-2018,4,38,6,1,1,...,0,0,0,0,0,0,0,0,5.5999999046326,5.6
4,4,175300700,0.948836,WEB,15-MAR-2018,4,25,6,1,1,...,1,1,1,1,1,1,0,0,5.1999998092651,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,1157,195669344,1.738075,WEB,29-NOV-2018,2,20,6,1,1,...,0,0,0,0,0,0,0,0,6,6.0
1158,1158,195896207,0.371366,SCAN,27-DEC-2018,4,56,5,5,5,...,0,0,1,1,1,1,0,0,2.5999999046326,2.6
1159,1159,175276145,0.797851,WEB,02-MAR-2018,4,47,6,1,1,...,0,0,0,0,1,1,0,0,6.4000000953674,6.4
1160,1160,175291515,1.780040,WEB,22-FEB-2018,3,26,6,1,1,...,0,0,1,1,0,0,0,0,5.4000000953674,5.4
1161,1161,196221469,0.750153,WEB,03-DEC-2018,1,57,2,2,2,...,0,0,0,0,0,0,0,0,4.5999999046326,4.6

In [7]:
combined = pd.read_csv('data/combined.csv')
combined

/Users/yc/opt/anaconda3/envs/dsc80/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3442: DtypeWarning: Columns (8,18,19,20,22,23,25,39,74,75,77,215,297,298,306,307,308,309,311,312,313) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,STUDYID,WEIGHT_CISGENDER_TRANSPOP,WEIGHT_CISGENDER,WEIGHT_TRANSPOP,GMETHOD_TYPE,SURVEYCOMPLETED,GRESPONDENT_DATE,GCENREG,RACE,...,ACE_SEP,ACE_INC,ACE_EMO_I,ACE_PHY_I,ACE_SEX_I,ACE_IPV_I,ACE_SUB_I,ACE_MEN_I,ACE_SEP_I,ACE_INC_I
0,0,151768927,0.022039,,.9861429333687,,0,26-APR-2016,1,6,...,0,0,1,0,0,0,0,0,0,0
1,1,152357242,0.008485,,.3796825110912,,0,07-APR-2016,3,6,...,0,0,0,0,0,0,0,1,0,0
2,2,152444055,0.015764,,.705381155014,,0,01-MAY-2016,3,6,...,0,0,0,0,0,0,0,1,0,0
3,3,152525272,0.035655,,1.5953975915909,,0,20-APR-2016,4,6,...,1,1,1,0,0,1,1,1,1,1
4,4,152894493,0.041802,,1.870422244072,,0,05-MAY-2016,2,8,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,197167223,6.299798,5.1374626159668,,SCAN,2,27-DEC-2018,4,3,...,0,0,1,1,0,1,1,1,0,0
1432,1432,197167224,0.581383,.4741154909134,,SCAN,2,15-JAN-2019,4,6,...,0,0,1,0,1,0,0,1,0,0
1433,1433,197168195,2.584832,2.1079211235046,,WEB,2,13-DEC-2018,1,6,...,0,0,1,1,1,1,0,1,0,0
1434,1434,197169207,0.545099,.4445266127586,,WEB,2,08-DEC-2018,4,6,...,0,0,0,0,0,0,0,0,0,0
1435,1435,197169232,1.580057,1.2885310649872,,SCAN,2,04-JAN-2019,1,2,...,0,0,1,0,1,1,1,0,0,0

#### Income
- Two income variable: household income (variable hinc) and personal income (variable: pinc))
- The responses from TransPop 1 (t1q198 and t1q200, respectively) and TransPop 2 (t2q204 and t2q206, respectively) were collapsed
- The responses from Cisgender were constructed from q155 and q157, respectively. 
 - 95 respondents did not indicate a household income on the survey.

In [38]:
reference = { 'TransPop 1': ['Under $720', '$720 to $5,999', '$6,000 to $11,999',
                             '$12,000 to $23,999', '$24,000 to $35,999',
                             '$36,000 to $47,999', '$48,000 to $59,999',
                             '$60,000 to $89,999', '$90,000 to $119,999',
                             '$120,000 to $179,999', '$180,000 to $239,999', '$240,000 and over'],
             'TransPop 2': ['No income', '$1 to $4,999', '$5,000 to $9,999',
                            '$10,000 to $14,999', '$15,000 to $19,999',
                            '$20,000 to $24,999', '$25,000 to $29,999','$30,000 to $39,999',
                            '$40,000 to $49,999', '$50,000 to $59,999', '$60,000 to $74,999',
                            '$75,000 to $99,999', '$100,000 to $149,999', '$150,000 or more']}

Question: Are transgender people facing higher possibilities to encounter harassment and violence
Columns:
1. Everyday discrimination:(TransPop: q171a-q171i,Cisgender: q121a-q121i). The resulting variable was reverse-coded so that lower values represent less everyday discrimination and higher values represent more everyday discrimination. Scale value range from 1 to 4. 
  - **“everyday”** (calculated only from complete cases, in which no individual scale items were missing) and **“everyday_i”** (missing individual scale items were imputed, and a final scale score was calculated for each respondent).
2. Community connectedness (TransPop only): q51-q55
  - Lower scores represented lower community connectedness, while higher scores represented greater community connectedness. Scale values range from 1 to 5. 
  - “connectedness” (calculated only from complete cases, in which no individual scale items were missing) and “connectedness_i” (missing individual scale items were imputed, and a final scale score was calculated for each respondent). 
3.

1. Healthcare Stereotype Threat (TransPop only): q77-q80
  - “hcthreat” (calculated only from complete cases, in which no individual scale items were missing) and “hcthreat_i” (missing individual scale items were imputed, and a final scale score was calculated for each respondent). 
2.